.homeBody {
    /* margin-top: 120px; */
}
.homeTop, .homeMid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.homeTop h1 {
    font-size: 44px;
    width: 45vw;
    font-family: 'Inter', sans-serif;
    line-height: 64px;
    overflow: hidden;
    margin-top: -75px;
}
.homeTop span {
    color: rgb(28, 175, 28);
    font-style: italic;
}
.homeTop img {
    margin-top: 50px;
    width: 80%;
}

.homeMid {
    margin-top: 100px;
}
.homeMid p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    width: 50vw;
    line-height: 32px;
}